* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
}
body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
header {
    background-color: rgb(203, 232, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 10px 20px;
}
header div {
    font-size: 28px;
    margin: 15px 10px;
}

main {
    flex: 1;
}
ul {
    list-style: none;
    list-style-position: inside;
    display: flex;
    flex-wrap: wrap;
    gap: .8rem;
    align-items: center;   
}

ul li:last-child {
    color: white;
    padding: 7px 14px;
    border-radius: 8px;
    background-color: blueviolet;
}

.conteudo {
    display: flex;
    height: 300px;
    gap: 1rem;
    padding: 1rem;
}
article, section{
    border: 1px solid rgb(100, 185, 255);
}
article {
    width: 25%;
}
section {
    flex: 1;
}
.galery {
    padding: 0 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: .8rem;
}
.galery div{
    border: 1px solid rgb(100, 185, 255);
    height: 100px;
}
.galery div {
    width: 30%;
    flex-grow: 1;
}
.button {
    margin: 1rem;
    display: flex;
    justify-content: space-evenly;
}

button {
    font-size: 18px;
    background-color: rgb(115, 250, 221);
    border: 2px solid rgb(24, 185, 151);
    border-radius: 7px;
    padding: 8px;
    cursor: pointer;
}
button:first-child {
    color: #e75327;
}
button:last-child{
    color: #1979BB;
}
button img {
    width: 30px;
    vertical-align: middle;
}

footer {
    height: 5rem;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: none;
}