* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --body-bg-color: #121214;
    --text-color: #E1E1E6;
    --title-color: #04D361;
    --form-color: #A8A8A8;
    --bg-button-color: #8257e5;
}

main {
    position: relative;
    display: flex;
    height: 100vh;
}

section {
    background-color: var(--body-bg-color);
    width: 50vw;
    padding: 50px 30px;
    z-index: 2;
}
header {
    margin-bottom: 5vw;
}
section .info {
    margin: 0 7px;
}

h1, h5 {
    margin-bottom: 15px;
}

.info h1 {
    color: var(--title-color);
    font-family: word sans ,sans-serif;
    font-weight: 700;
    font-size: 24px;
}
.info h5 {
    color: var(--text-color);
    font-family: spartan ,sans-serif;
    font-weight: 700;
    font-size: 14px;
}
.info p {
    color: var(--text-color);
    font-family: spartan ,sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 3.5rem;
}
form {
    width: 56vw;
}
form div {
    width: 100%;
    display: flex;
    margin: 14px 0px 5rem 0px;
}
form label {
    color: var(--form-color);
    font-family: spartan, sans-serif;
    font-size: 14px;
    font-weight: 700;
}

form div input {
    height: 48px;
    width: 94%;
    padding: 15px;
    border-style: none;
    border-left: 5px solid var(--title-color);
    box-shadow:  4px 10px 15px rgba(0,0,0,0.5);
    caret-color: var(--bg-button-color);
    outline-style: none;
}

form div button {
    border-style: none;
    height: 48px;
    width: 50px;
    background-color: var(--bg-button-color);
    color: var(--text-color);
    cursor: pointer;
    box-shadow:  4px 10px 15px rgba(0,0,0,0.5);
}

.info a {
    color: var(--bg-button-color);
    font-family: spartan ,sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
}

.info a svg {
    vertical-align: middle;
}

.img {
    width: 50vw;
    background-image: url(images/read_news.webp);
    background-size: cover;
    background-position-x: 76%;
}